<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path("jtbkgoungjxuwvrl6y69",
      width: 400, height: 300, crop: :fill) %>')">
  <div class="banner-content">
    <h1>Mr Cocktail</h1>
    <%= link_to "Get drunk with class", cocktails_path, class: "btn-home" %>
  </div>
</div>

