.home-banner {
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 30vh;
}

.home-banner h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}
.home-banner h2 {
  font-size: 30px
}
